
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
header{
    top:0;
    left:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    padding:30px 70px;
    transition:0.6s;
    z-index:10000;

}
header.sticky{
    padding: 5px 60px;
    background:#fff;
}
.logo{
    display: flex;
    gap:5px;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    position: relative;
}
h1{
    font-size: 30px;
    font-family: 'Exo';
}
img{
    width:50px;
    height:50px;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap:28px;
    padding-right: 1rem;
    position: relative;
}
li a{
    text-decoration: none;
    color:black;
    font-weight:500;
    letter-spacing:1.5px;
}
a:hover{
    color:rgb(255, 0, 0);
}
.banner{
    width:100%;
    height:100vh;
    position: relative;
    background:url(lap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity:0.5;
}
.about{
    width:100%;
    height:80vh;
    position:relative;
    display: flex;
    background: linear-gradient(#d6cbcb,rgb(230, 230, 230),#d6cbcb);
}
.wraper{
    padding: 60px 100px;
}
.underline{
    border: 3px solid orangered;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width:20%;
    margin-bottom: 30px;
}
.underline h1{
    font-size:40px;
}
.wraper p{
    width:55%;
    height:35vh;
    font-size:15px;
    
}
.bulb{
    width:900px;
    height:500px;
    position:absolute;
    right:-150px;
    bottom:0;
}
.see{
    width:200px;
    height:60px;
    color:white;
    background:linear-gradient(to right, #6cc7d3,rgb(222, 114, 236));
    position:absolute;
    bottom:50px;
    left:600px;
    font-size: 17px;
    border-radius: 50px;
    border:0;
    cursor: pointer;
    box-shadow: 10px 10px 8px #888888;
}
.see:hover{
    color:black;
}
.project{
    background:rgb(94, 94, 94);
    color:white;
    position:relative;
}
.underline_2{
    border: 3px solid orangered;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width:20%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    position:absolute;
}
.wraper2{
    padding: 60px 100px;
    display: flex;
    justify-content: flex-end;
}
.underline_2 h1{
    font-size: 40px;
}
.image{
    width:500px;
    height:300px;
}
.pro{
    display: flex;
    padding: 20px 100px;  
}
.wrap3{
    margin-top: 50px;
}
.pro button a{
    text-decoration:none;
    color:black;
}
.pro button a:hover{
    color:white;
}
.pro button{
    width:100px;
    height:40px;
    background:linear-gradient(to right, rgb(255, 153, 0), orange);
    border:0;
    border-radius:30px;
}
.des{
    margin-left: 65px;
}
.des2{
    margin-right: 65px;
    text-align: right;
}
.des p{
    margin-top:30px;
}
.des2 p{
    margin-top:30px;
}
.des button{
    margin-top:50px;
}
.des2 button{
    margin-top:50px;
}
.under{
    border:3px solid white;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width:30%;
}
.under2{
    border:3px solid white;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    

}
.under3{
    border:3px solid white;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width:60%;
}

.under4{
    position:absolute;
    width:470px;
    height:30px;
    background:rgb(94, 94, 94);
    top:550px;
}
footer{
    width:100%;
    height:45vh;
    background:#191919;
}
.footwrap{
    padding:60px 100px;
    color:white;
}
.line{
    display:flex;
}
.contacts a{
    text-decoration:none;
    color:white;
    margin-right:20px;
    font-size: 20px;
}
.contacts a:hover{
    color:aqua}
.int{
    padding:0px 70px;
    line-height: 40px;
}
.socials{
    margin-top:12px;
    position:absolute;
    left:40%;
}
.socials a{
    color:white;
    font-size:30px;
    gap:20px;
    letter-spacing: 40px;
}
.socials a:hover{
    color: aqua;
}
.footer-bottom{
    background:black;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom p{
    color:white;
    letter-spacing: 2px;
}
.footer-bottom span{
    color:#888888;
    font-weight: 500;
    opacity: 0.5;
}